.profile{
    display: grid;
    font-weight: 600; 
    justify-items: center;  
    margin-top: 1.875rem; 
    .profile-img{
        img{
            max-width: 6.25rem;
            max-height: 6.25rem;
            border-radius: 0.75rem;
        }
    }
    .profile-name{
        font-size: 0.875rem;
        margin-top: 0.75rem;
        color: $color_gray_3;
    }
    .profile-local{
        font-size: 0.625rem;
        margin-top: 0.25rem;
        color: $color_gray_4;
    }
}
