@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');
$color_gray_1:#E5E5E5;
$color_gray_2:#B9BDCF;
$color_gray_3:#4E5150;
$color_gray_4:#A9A9A9;
$color_gray_5:#BDBDBD;

:root{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
html, body, div, span, h1, h2, h3, h4, h5, h6, p, img, strong,
b, u, i, center, ol, ul, li, label, footer, header,
menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body{
    display: grid;
    margin-left: auto;
    margin-right: auto;
}

@import "_header";
@import "_main";
@import "_footer";
@import "_mediaquery";